body{
	background-color:#F5F5DC;
}
#kid1{
	text-align:center;
	background:red;
	width:280px;
	height:50px;
	font-size:40px;
	border-radius: 7px;
}
#kid2{
	text-align:center;
	background:black;
	width:150px;
	height:56px;
	color:white;
	font-size:15px;
	border-radius: 7px;
}
#kid0{
	text-align:center;
	background:black;
	width:100px;
	height:56px;
	color:white;
	font-size:15px;
	border-radius: 7px;
}
#kid3{
	position:static;
	text-align:center;
	background:black;
	width:400px;
	height:55px;
	color:white;
	font-size:22px;
	border-radius: 7px;
}
#kid4{
	border-radius: 7px;
	font-size:15px;
	border: 2px solid white;
	background:#F0FFFF;
	padding:2px;
	margin: 2px;
	box-shadow: 1px 1px 1px #888888;
}
#kid5{
	
	position:static;
	text-align:center;
	background:#F5F5DC;
	width:200px;
	height:55px;
	color:red;
	font-size:55px;
	border-style:hidden;
}
#kid6{
	
	position:static;
	text-align:center;
	background:#F5F5DC;
	width:100px;
	height:55px;
	color:red;
	font-size:20px;
	border-style:hidden;
}
#kid7{
	position:static;
	text-align:center;
	background:#F5F5DC;
	width:100px;
	height:55px;
	color:black;
	font-size:20px;
	border-style:hidden;
	
}
h3.ex1{
	 margin-left: 0.5cm;
}
h4.ex1{
	 margin-left: 0.5cm;
}
select.ex1{
	 margin-left: 0.5cm;
}
p.ex1{
	 margin-left: 0.5cm;
}
#fu{
	text-align:left;
	margin:5px;
	padding:10px;
	width:60%;
	height:100px;
}
#last{
	text-align:left;
	margin:5px;
	padding:5px;
	width:60%;
	height:80px;
	
}