body{
    margin: 0px;
    padding: 0px;
    background-color: lightgoldenrodyellow;
}
.Heading1{
    color:lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.3em;
    margin-left: 10px;
}
.heading2{
    color:lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 10px;
    background-color: lightgray;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 
}
.heading3{
    color:lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin-left: 10px;
    line-height: 5px;
}
.text1{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
.text2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 40px;
}
.text3{
    font-style: italic;
    margin-left: 40px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}