#sample{
	
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	
}
#kid1{
	
	border-radius: 10px;
	font-size:20px;
	border: 2px solid #F5F5DC;
	background: #F0FFFF;
	padding:5px;
	margin: 5px;
	box-shadow: 1px 1px 1px #888888;
}