body{
	margin:0px;
	padding:0px;	
}
/*--------------------------------Css for Header-------------------------------------*/
.header-parent1{
	width:100%;
	height:110px;
	border:1px solid lightgray;
	background-color:white;
	position:fixed;
	box-shadow:0px 2px 5px gray;
}
.header-child0{
	width:100%;
	height:60px;
	//border:2px solid blue;
	margin:0px auto 0px auto;
	background-color:rgba(0,0,0,0.1);
}
.header-child1{
	width:8%;
	height:45px;
	//border:2px solid green;
	margin:5px 0px 5px 22px;
	float:left;
}
.header-image1{
	width:90px;
	height:32px;
	padding:10px 5px 5px 10px;
}
.header-child2{
	width:55%;
	height:45px;
	//border:2px solid green;
	margin:5px 0px 5px 70px;
	float:left;
}
.header-child2-search{
	position:relative;
	top:-5px;
	width:80%;
	height:30px;
	//border:hidden;
	border:1px solid #D3D3D3;
}
.header-child2-search:hover{
	border:1px solid #8594A3;
}
.background-search-image{
	width:20px;
	height:15px;
	margin:0px auto 0px auto;
	padding:5px 10px 2px 10px;
}
.child2-search-button{
	width:60px;
	height:30px;
	background-color: #4747FF;
	border:hidden;
	margin:10px 0px 10px 0px;
	padding:0px 0px 0px 0px;
	border-radius:0px 5px 5px 0px;
}
.child2-search-button:hover{
	box-shadow:0px 0px 0px 0px #4747FF;
}
.header-child3{
	width:20%;
	height:45px;
	//border:2px solid green;
	margin:5px 30px 5px 10px;
	float:right;
}
.header-child3-list{
	position:relative;
	display:inline-block;
	float:right;
	top:-7px;
	
}
.header-child3-image{
	width:28px;
	height:26px;
	background-color:;
	border-radius:50%;
	//border:1px solid gray;
	margin-left:15px;
	opacity:0.5;
}
.header-child3-image:hover{
	opacity:1;
}
/*--------------------------------Css for Header-Bottom-------------------------------------*/
.header-bottom{
	width:100%;
	height:47px;
	border:1px solid blue;
	
}
.bottom-child1{
	width:10%;
	height:40px;
	border:1px solid gray;
	margin:3px 0px 0px 20px;
	float:left;
}
.option1{
	padding:3px 5px 3px 0px;
	margin-top:5px;
	margin-left:5px;
	font-size:20px;
	color:red;
	border:hidden;
}
.button1{
	margin-top:6px;
	width:75px;
	margin-left:18px;
	opacity:0.6;
	float:left;
}
.button2{
	margin-top:6px;
	width:75px;
	margin-left:18px;
	opacity:0.6;
	float:left;
}
.image-button2{
	width:20px;
	padding-top:2px;
}
.button2:hover{
	opacity:0.7;
	
}
.button3{
	margin-top:6px;
	margin-left:18px;
	width:75px;
	opacity:0.7;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:7px;
	padding-right:7px;
	float:left;
}
.button3:hover{
	opacity:0.8;
	
}
.more-options{
	border:hidden;
	background-color:rgba(0,0,0,0.0);
	font-size:16px;
	color:black;
	
}
.bottom-child2{
	width:30%;
	height:40px;
	border:1px solid gray;
	margin:3px 0px 0px 20px;
	float:left;
}
.bottom-child3{
	width:15%;
	height:40px;
	border:1px solid gray;
	margin:3px 30px 0px 0px;
	float:right;
}