.heading{
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 2.8em;
    font-weight: bold;
    text-shadow: 2px 3px 3px gray;
    transform: scaleX(2);
    transform: scaleY(1.8);
    letter-spacing: 0.1em;
}
.box-0{
    position: relative;
    top: 30px;
}
.box-1 p{
    color: black;
    font-size: 1.1em;
}
.ans{
    color: blue;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.05em;
    line-height: 25px;
}