body{
    margin: 0px;
    padding: 0px;
}
.background-effect{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 580px;
    padding-top: 80px;
    background-image: url(images/Vegetable-Mutton-Biryani-Recipe-by-Shireen-Anwar.jpg);
    background-repeat: no-repeat;
    background-size: 100% 670px;
    filter: blur(3px);
    z-index: -1;
    //border: 1px solid red;
}

/*--------------------------------------------------Header-container-------------------------------*/
.header-box{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 55px;
    background-color: dimgray;
    z-index: 2;
    box-shadow: 0px 5px 18px gray;
}
.logo{
    position: relative;
    width: 230px;
    height: 120px;
    /*border: 2px solid blue;*/
    background-color: dimgray;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: 95% 100px;
    background-position: 5px 5px;
    margin-left: 100px;
    float: left;
    border-radius:5px;
    min-width: 200px;
}
.page-list{
    width: 70%;
    height: 52px;
    //border: 2px solid blue;
    float: left;
    text-align: center;
}
.list{
    display: inline-block;
}
.page-list a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
    margin-right: 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 16px 12px 16px 12px;
    //border: 1px solid gray;
    font-weight: bold;
}
.page-list a:hover{
    background-color: orangered;
    transition:0.6s;
}
/*.page-list ul li a:hover, 
.page-list ul li a:active, 
.page-list ul li a:link, 
.page-list ul li a:visited{
    background-color: orangered;
}*/
/*--------------------------------------------------content-container-------------------------------*/
.container1{
    position: relative;
    top: 80px;
    width: 400px;
    height: 450px;
    margin: 0px auto 0px auto;
    border-radius: 8px;
    //border: 2px solid blue;
    background-color: rgba(0,0,0,0.6);
}
.container1 > button{
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border: hidden;
    padding: 10px;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;  
    outline: 0px;
    font-weight: bold;
    border-radius: 4px;
}
.container1 > button:hover{
    background-color: darkorange;
    transition: 0.6s;
    cursor: pointer;
    color: white;
}
.container1 > h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: ;
    margin-left: 40px;
}
.container1 > h2 >span{
    color: lightseagreen;
}









