body{
    margin: 0px;
    padding: 0px;
    background-color:darkcyan;
}
*{
    margin: 0px;
    padding: 0px; 
}
.heading-box{
    /*border: 2px solid red;*/
    height: auto;
    line-height: 40px;
    text-align: center;
}
.heading-box p{
    text-align: center;
    margin-top: 25px;
    font-size: 3.5em;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 1px 4px 6px darkslategray;
}
.input-values{
    width: 400px;
    height: 35px;
    padding: 5px 5px 5px 5px;
    border: hidden;
    border-radius: 4px;
    outline: 0px;
    font-size: 1.2em;
    /*margin-left: 18%;*/
}
.input-values:hover{
    box-shadow: 1px -1px 1px 2px lightblue, -1px 1px 1px 2px lightblue;
    transition: 0.3s;
}
.submit-button{
    margin-top: 16px;
    height: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    background:-webkit-linear-gradient(orange,darkorange);;
    color: white;
    border: hidden;
    width: 100px;
    border-radius: 4px;
    outline: 0px;
}
.submit-button:hover{
    background: darkorange;
    transition:0.7s;
    box-shadow: 0px 2px 3px gray;
}
.list-box{
    width: 50%;
    height: auto;
    /*border: 2px solid red;*/
    line-height: 33px;
    margin: 0px auto 0px auto;
}
.list-box ol li{
    text-align: left;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid gray;
    /*display: block;*/
    margin-top: 5px;
    padding-left: 5px;
    color: white;
    font-size: 1.2em;
}
