body{
	margin:0px;
	padding:0px;
	min-width:20%;
	max-width:100%;
	background-color:#DCDCDC;
}
#body1{
	height:1000px;
	width:100%;
	background: gray;
    background: -webkit-linear-gradient(gray, white); 
    background: -o-linear-gradient(gray, white); 
    background: -moz-linear-gradient(gray, white);
}
#logo{
	width:300px;
	margin-left:10px;
	margin-top:5px;
	height:30px;
	font-size:50px;
}
.s{
	color:rgba(23,123,423,0.9);
}
.k{
	color:rgba(223,123,123,0.9);
}
.y{
	color:rgba(123,123,123,0.8);
}
.s1{
	color:rgba(123,23,323,0.7);
}
.c{
	color:rgba(123,323,123,0.6);
}
.h{
	color:rgba(223,23,423,0.7);
}
.o{
	color:rgba(13,223,23,0.8);
}
.o1{
	color:rgba(323,423,23,0.7);
}
.l{
	color:rgba(323,23,23,0.7);
}
#list{
	width:95%;
	height:40px;
	margin-left:10px;
	background-color: #5F9EA0;
	box-shadow:0px 6px 5px gray;
	font-family:;
	border-radius:5px;
	min-width:20%;
	max-width:100%;
}
.lis{
	display:inline-block;
	padding-top:3px;
	
}
.a1{
	text-decoration:none;
	color:white;
	font-size:30px;
	margin:5px 5px 5px 5px;
	padding:0px 10px 0px 10px;
	
}
.a1:hover{
	background-color:#80b1b3;
	border-radius:10px;
	color:#395e60;
	cursor:pointer;
}
#box{
	width:65%;
	height:auto;
	margin-left:10px;
	border:2px solid gray;
	padding:15px 15px 15px 15px;
	min-width:30%;
	max-width:100%;
	
}
#box11{
	overflow:hidden;
	width:350px;
	height:390px;
	border:2px solid gray;
	margin:20px 20px 30px 65px ;
	min-width:200px;
	max-width:400px;
	float:left;
}
#button1{
	margin:0px 130px 0px 130px;
	font-size:20px;
	background-color:#5F9EA0;
	border-radius:7px;
	border:2px solid gray;
	cursor:pointer;
	padding:3px 5px 3px 5px;
	color:black;
	text-decoration:none;
}
#button1:hover{
	background-color:#77ADAE;
}

.text1{
	font-size:17px;
	font-family:verdana;
	color:solid gray;
}
#box12{
	overflow:hidden;
	width:350px;
	height:390px;
	border:2px solid gray;
	margin:45px 20px 30px 20px ;
	min-width:200px;
	max-width:400px;
	float:;
}
#box13{
	overflow:hidden;
	width:350px;
	height:390px;
	border:2px solid gray;
	margin:45px 20px 30px 65px ;
	min-width:200px;
	max-width:400px;
	float:left;
}
#box14{
	overflow:hidden;
	width:350px;
	height:390px;
	border:2px solid gray;
	margin:75px 20px 30px 20px ;
	min-width:200px;
	max-width:400px;
	float:;
	
}
.image1{
	width:270px;
	height:240px;
	
}
.image2{
	width:285px;
	height:240px;
	
}
.image3{
	width:270px;
	height:240px;
	
}
.image4{
	width:270px;
	height:240px;
	
}
#most{
	font-size:30px;
	text-align:center;
	text-decoration:underline;
	color:blue;
}